---
import type { Icon } from "../../../types/icon";

const {
  size = 24,
  lightColor = "#000000",
  darkColor = "#ffffff",
  className = "",
  href,
  target,
  isDark = false,
} = Astro.props as Icon;
---

{
  href ? (
    <a href={href} target={target} rel="noopener noreferrer">
      <svg
        width={size}
        height={size}
        viewBox="0 0 500 500"
        xmlns="http://www.w3.org/2000/svg"
        class={className}
        fill={isDark ? darkColor : lightColor}
        preserveAspectRatio="xMidYMid meet"
      >
        <g>
          <path d="M29.216 25.697h46.13v46.13H29.216z" />
          <path d="M95.004 25.696h46.13v46.132H95.004z" />
          <path d="M29.216 92.719h46.13v46.131H29.216z" />
          <path d="M95.004 92.719h46.13v46.132H95.004z" />
          <path d="M161.005 25.899h46.127v46.131H161.005z" />
          <path d="M226.789 25.899h46.131v46.131H226.789z" />
          <path d="M161.005 92.923h46.127v46.129H161.005z" />
          <path d="M226.789 92.923h46.131v46.131H226.789z" />
          <path d="M29.216 159.944h46.13v46.133H29.216z" />
          <path d="M95.004 159.944h46.13v46.133H95.004z" />
          <path d="M29.216 226.965h46.13v46.132H29.216z" />
          <path d="M95.004 226.969h46.13v46.128H95.004z" />
          <path d="M161.005 159.944h46.127v46.131H161.005z" />
          <path d="M226.789 159.944h46.131v46.133H226.789z" />
          <path d="M161.005 226.965h46.127v46.132H161.005z" />
          <path d="M226.789 226.969h46.131v46.128H226.789z" />
          <path d="M292.579 25.899h46.13v46.131H292.579z" />
          <path d="M292.579 92.923h46.13v46.131H292.579z" />
          <path d="M292.579 159.944h46.13v46.133H292.579z" />
          <path d="M292.579 226.969h46.13v46.128H292.579z" />
          <path d="M29.322 293.992h46.13v46.128H29.322z" />
          <path d="M95.109 293.992h46.13v46.128H95.109z" />
          <path d="M161.112 293.992h46.128v46.128H161.112z" />
          <path d="M226.895 293.992h46.134v46.128H226.895z" />
          <path d="M292.685 293.992h46.132v46.128H292.685z" />
          <path d="M358.47 25.897h46.13v46.131H358.47z" />
          <path d="M358.47 92.921h46.13v46.131H358.47z" />
          <path d="M358.47 159.943h46.13v46.132H358.47z" />
          <path d="M358.47 226.966h46.13v46.129H358.47z" />
          <path d="M424.258 25.897h46.13v46.131H424.258z" />
          <path d="M424.258 92.921h46.13v46.131H424.258z" />
          <path d="M424.258 159.943h46.13v46.132H424.258z" />
          <path d="M424.258 226.966h46.13v46.129H424.258z" />
          <path d="M358.577 293.99h46.132v46.128H358.577z" />
          <path d="M424.365 293.99h46.13v46.128H424.365z" />
          <path d="M29.322 361.013h46.132v46.132H29.322z" />
          <path d="M95.11 361.015h46.13v46.13H95.11z" />
          <path d="M161.112 361.013h46.128v46.132H161.112z" />
          <path d="M226.897 361.015h46.13v46.13H226.897z" />
          <path d="M292.685 361.015h46.127v46.13H292.685z" />
          <path d="M29.427 428.039h46.132v46.13H29.427z" />
          <path d="M95.217 428.039h46.13v46.13H95.217z" />
          <path d="M161.218 428.039h46.128v46.13H161.218z" />
          <path d="M227.003 428.039h46.133v46.13H227.003z" />
          <path d="M292.789 428.039h46.132v46.13H292.789z" />
          <path d="M358.577 361.013h46.13v46.13H358.577z" />
          <path d="M424.365 361.013h46.128v46.13H424.365z" />
          <path d="M358.684 428.037h46.132v46.13H358.684z" />
          <path d="M424.469 428.037h46.132v46.13H424.469z" />
        </g>
      </svg>
    </a>
  ) : (
    <svg
      width={size}
      height={size}
      viewBox="0 0 500 500"
      xmlns="http://www.w3.org/2000/svg"
      class={className}
      fill={isDark ? darkColor : lightColor}
      preserveAspectRatio="xMidYMid meet"
    >
      <g>
        <path d="M29.216 25.697h46.13v46.13H29.216z" />
        <path d="M95.004 25.696h46.13v46.132H95.004z" />
        <path d="M29.216 92.719h46.13v46.131H29.216z" />
        <path d="M95.004 92.719h46.13v46.132H95.004z" />
        <path d="M161.005 25.899h46.127v46.131H161.005z" />
        <path d="M226.789 25.899h46.131v46.131H226.789z" />
        <path d="M161.005 92.923h46.127v46.129H161.005z" />
        <path d="M226.789 92.923h46.131v46.131H226.789z" />
        <path d="M29.216 159.944h46.13v46.133H29.216z" />
        <path d="M95.004 159.944h46.13v46.133H95.004z" />
        <path d="M29.216 226.965h46.13v46.132H29.216z" />
        <path d="M95.004 226.969h46.13v46.128H95.004z" />
        <path d="M161.005 159.944h46.127v46.131H161.005z" />
        <path d="M226.789 159.944h46.131v46.133H226.789z" />
        <path d="M161.005 226.965h46.127v46.132H161.005z" />
        <path d="M226.789 226.969h46.131v46.128H226.789z" />
        <path d="M292.579 25.899h46.13v46.131H292.579z" />
        <path d="M292.579 92.923h46.13v46.131H292.579z" />
        <path d="M292.579 159.944h46.13v46.133H292.579z" />
        <path d="M292.579 226.969h46.13v46.128H292.579z" />
        <path d="M29.322 293.992h46.13v46.128H29.322z" />
        <path d="M95.109 293.992h46.13v46.128H95.109z" />
        <path d="M161.112 293.992h46.128v46.128H161.112z" />
        <path d="M226.895 293.992h46.134v46.128H226.895z" />
        <path d="M292.685 293.992h46.132v46.128H292.685z" />
        <path d="M358.47 25.897h46.13v46.131H358.47z" />
        <path d="M358.47 92.921h46.13v46.131H358.47z" />
        <path d="M358.47 159.943h46.13v46.132H358.47z" />
        <path d="M358.47 226.966h46.13v46.129H358.47z" />
        <path d="M424.258 25.897h46.13v46.131H424.258z" />
        <path d="M424.258 92.921h46.13v46.131H424.258z" />
        <path d="M424.258 159.943h46.13v46.132H424.258z" />
        <path d="M424.258 226.966h46.13v46.129H424.258z" />
        <path d="M358.577 293.99h46.132v46.128H358.577z" />
        <path d="M424.365 293.99h46.13v46.128H424.365z" />
        <path d="M29.322 361.013h46.132v46.132H29.322z" />
        <path d="M95.11 361.015h46.13v46.13H95.11z" />
        <path d="M161.112 361.013h46.128v46.132H161.112z" />
        <path d="M226.897 361.015h46.13v46.13H226.897z" />
        <path d="M292.685 361.015h46.127v46.13H292.685z" />
        <path d="M29.427 428.039h46.132v46.13H29.427z" />
        <path d="M95.217 428.039h46.13v46.13H95.217z" />
        <path d="M161.218 428.039h46.128v46.13H161.218z" />
        <path d="M227.003 428.039h46.133v46.13H227.003z" />
        <path d="M292.789 428.039h46.132v46.13H292.789z" />
        <path d="M358.577 361.013h46.13v46.13H358.577z" />
        <path d="M424.365 361.013h46.128v46.13H424.365z" />
        <path d="M358.684 428.037h46.132v46.13H358.684z" />
        <path d="M424.469 428.037h46.132v46.13H424.469z" />
      </g>
    </svg>
  )
}
