---
import type { Icon } from "../../../types/icon";

const {
  size = 24,
  lightColor = "#000000",
  darkColor = "#ffffff",
  className = "",
  href,
  target,
  isDark = false,
} = Astro.props as Icon;
---

{
  href ? (
    <a href={href} target={target} rel="noopener noreferrer">
      <svg
        width={size}
        height={size}
        viewBox="0 0 500 500"
        xmlns="http://www.w3.org/2000/svg"
        class={className}
        fill={isDark ? darkColor : lightColor}
        preserveAspectRatio="xMidYMid meet"
      >
        <g>
          <path d="M21.849 18.528h55.985v55.984H21.849z" />
          <path d="M101.693 18.528h55.984v55.985H101.693z" />
          <path d="M21.849 99.871h55.985v55.983H21.849z" />
          <path d="M101.693 99.870h55.984v55.984H101.693z" />
          <path d="M182.448 18.773h55.983v55.985H182.448z" />
          <path d="M262.287 18.773h55.987v55.985H262.287z" />
          <path d="M182.448 100.116h55.983v55.983H182.448z" />
          <path d="M262.287 100.116h55.987v55.984H262.287z" />
          <path d="M21.849 181.456h55.985v55.986H21.849z" />
          <path d="M101.693 181.456h55.984v55.986H101.693z" />
          <path d="M21.849 262.799h55.985v55.984H21.849z" />
          <path d="M101.693 262.801h55.984v55.983H101.693z" />
          <path d="M182.448 181.456h55.983v55.985H182.448z" />
          <path d="M262.287 181.455h55.987v55.987H262.287z" />
          <path d="M182.448 262.798h55.983v55.985H182.448z" />
          <path d="M262.287 262.800h55.987v55.983H262.287z" />
          <path d="M341.476 18.774h55.985v55.985H341.476z" />
          <path d="M341.476 100.117h55.985v55.984H341.476z" />
          <path d="M341.476 181.456h55.985v55.986H341.476z" />
          <path d="M341.476 262.801h55.985v55.983H341.476z" />
          <path d="M21.979 344.143h55.984v55.984H21.979z" />
          <path d="M101.822 344.143h55.984v55.984H101.822z" />
          <path d="M182.577 344.143h55.984v55.984H182.577z" />
          <path d="M262.416 344.142h55.987v55.984H262.416z" />
          <path d="M341.604 344.143h55.987v55.984H341.604z" />
          <path d="M421.445 18.773h55.987v55.984H421.445z" />
          <path d="M422.164 100.115h55.987v55.984H422.164z" />
          <path d="M422.164 181.456h55.987v55.986H422.164z" />
          <path d="M422.164 262.799h55.987v55.983H422.164z" />
          <path d="M421.575 344.140h55.987v55.984H421.575z" />
          <path d="M22.569 425.488h55.984v55.984H22.569z" />
          <path d="M102.411 425.490h55.985v55.982H102.411z" />
          <path d="M182.512 425.488h55.984v55.984H182.512z" />
          <path d="M262.352 425.490h55.987v55.982H262.352z" />
          <path d="M342.195 425.490h55.985v55.982H342.195z" />
          <path d="M422.164 425.488h55.987v55.984H422.164z" />
        </g>
      </svg>
    </a>
  ) : (
    <svg
      width={size}
      height={size}
      viewBox="0 0 500 500"
      xmlns="http://www.w3.org/2000/svg"
      class={className}
      fill={isDark ? darkColor : lightColor}
      preserveAspectRatio="xMidYMid meet"
    >
      <g>
        <path d="M21.849 18.528h55.985v55.984H21.849z" />
        <path d="M101.693 18.528h55.984v55.985H101.693z" />
        <path d="M21.849 99.871h55.985v55.983H21.849z" />
        <path d="M101.693 99.870h55.984v55.984H101.693z" />
        <path d="M182.448 18.773h55.983v55.985H182.448z" />
        <path d="M262.287 18.773h55.987v55.985H262.287z" />
        <path d="M182.448 100.116h55.983v55.983H182.448z" />
        <path d="M262.287 100.116h55.987v55.984H262.287z" />
        <path d="M21.849 181.456h55.985v55.986H21.849z" />
        <path d="M101.693 181.456h55.984v55.986H101.693z" />
        <path d="M21.849 262.799h55.985v55.984H21.849z" />
        <path d="M101.693 262.801h55.984v55.983H101.693z" />
        <path d="M182.448 181.456h55.983v55.985H182.448z" />
        <path d="M262.287 181.455h55.987v55.987H262.287z" />
        <path d="M182.448 262.798h55.983v55.985H182.448z" />
        <path d="M262.287 262.800h55.987v55.983H262.287z" />
        <path d="M341.476 18.774h55.985v55.985H341.476z" />
        <path d="M341.476 100.117h55.985v55.984H341.476z" />
        <path d="M341.476 181.456h55.985v55.986H341.476z" />
        <path d="M341.476 262.801h55.985v55.983H341.476z" />
        <path d="M21.979 344.143h55.984v55.984H21.979z" />
        <path d="M101.822 344.143h55.984v55.984H101.822z" />
        <path d="M182.577 344.143h55.984v55.984H182.577z" />
        <path d="M262.416 344.142h55.987v55.984H262.416z" />
        <path d="M341.604 344.143h55.987v55.984H341.604z" />
        <path d="M421.445 18.773h55.987v55.984H421.445z" />
        <path d="M422.164 100.115h55.987v55.984H422.164z" />
        <path d="M422.164 181.456h55.987v55.986H422.164z" />
        <path d="M422.164 262.799h55.987v55.983H422.164z" />
        <path d="M421.575 344.140h55.987v55.984H421.575z" />
        <path d="M22.569 425.488h55.984v55.984H22.569z" />
        <path d="M102.411 425.490h55.985v55.982H102.411z" />
        <path d="M182.512 425.488h55.984v55.984H182.512z" />
        <path d="M262.352 425.490h55.987v55.982H262.352z" />
        <path d="M342.195 425.490h55.985v55.982H342.195z" />
        <path d="M422.164 425.488h55.987v55.984H422.164z" />
      </g>
    </svg>
  )
}
