---
import type { Icon } from "../../../types/icon";

const {
  size = 24,
  lightColor = "#000000",
  darkColor = "#ffffff",
  className = "",
  href,
  target,
  isDark = false,
} = Astro.props as Icon;
---

{
  href ? (
    <a href={href} target={target} rel="noopener noreferrer">
      <svg
        width={size}
        height={size}
        viewBox="0 0 500 500"
        xmlns="http://www.w3.org/2000/svg"
        class={className}
        fill={isDark ? darkColor : lightColor}
        preserveAspectRatio="xMidYMid meet"
      >
        <g>
          <path d="M30.291 26.825h60.862v60.862H30.291z" />
          <path d="M124.815 26.826h60.862v60.863H124.815z" />
          <path d="M30.291 123.124h60.862v60.861H30.291z" />
          <path d="M124.815 123.125h60.862v60.862H124.815z" />
          <path d="M219.645 27.115h60.861v60.862H219.645z" />
          <path d="M314.168 27.116h60.863v60.862H314.168z" />
          <path d="M219.645 123.415h60.861v60.861H219.645z" />
          <path d="M314.168 123.416h60.863v60.862H314.168z" />
          <path d="M30.291 219.713h60.862v60.864H30.291z" />
          <path d="M124.815 219.713h60.862v60.864H124.815z" />
          <path d="M30.291 316.011h60.862v60.863H30.291z" />
          <path d="M124.815 316.013h60.862v60.861H124.815z" />
          <path d="M219.645 219.713h60.861v60.862H219.645z" />
          <path d="M314.168 219.713h60.863v60.864H314.168z" />
          <path d="M219.645 316.011h60.861v60.863H219.645z" />
          <path d="M314.168 316.013h60.863v60.861H314.168z" />
          <path d="M408.691 27.116h60.863v60.862H408.691z" />
          <path d="M408.691 123.416h60.863v60.862H408.691z" />
          <path d="M408.691 219.713h60.863v60.864H408.691z" />
          <path d="M408.691 316.013h60.863v60.861H408.691z" />
          <path d="M30.444 412.312h60.862v60.863H30.444z" />
          <path d="M124.968 412.315h60.862v60.861H124.968z" />
          <path d="M219.798 412.312h60.862v60.863H219.798z" />
          <path d="M314.320 412.315h60.865v60.861H314.320z" />
          <path d="M408.843 412.315h60.865v60.861H408.843z" />
        </g>
      </svg>
    </a>
  ) : (
    <svg
      width={size}
      height={size}
      viewBox="0 0 500 500"
      xmlns="http://www.w3.org/2000/svg"
      class={className}
      fill={isDark ? darkColor : lightColor}
      preserveAspectRatio="xMidYMid meet"
    >
      <g>
        <path d="M30.291 26.825h60.862v60.862H30.291z" />
        <path d="M124.815 26.826h60.862v60.863H124.815z" />
        <path d="M30.291 123.124h60.862v60.861H30.291z" />
        <path d="M124.815 123.125h60.862v60.862H124.815z" />
        <path d="M219.645 27.115h60.861v60.862H219.645z" />
        <path d="M314.168 27.116h60.863v60.862H314.168z" />
        <path d="M219.645 123.415h60.861v60.861H219.645z" />
        <path d="M314.168 123.416h60.863v60.862H314.168z" />
        <path d="M30.291 219.713h60.862v60.864H30.291z" />
        <path d="M124.815 219.713h60.862v60.864H124.815z" />
        <path d="M30.291 316.011h60.862v60.863H30.291z" />
        <path d="M124.815 316.013h60.862v60.861H124.815z" />
        <path d="M219.645 219.713h60.861v60.862H219.645z" />
        <path d="M314.168 219.713h60.863v60.864H314.168z" />
        <path d="M219.645 316.011h60.861v60.863H219.645z" />
        <path d="M314.168 316.013h60.863v60.861H314.168z" />
        <path d="M408.691 27.116h60.863v60.862H408.691z" />
        <path d="M408.691 123.416h60.863v60.862H408.691z" />
        <path d="M408.691 219.713h60.863v60.864H408.691z" />
        <path d="M408.691 316.013h60.863v60.861H408.691z" />
        <path d="M30.444 412.312h60.862v60.863H30.444z" />
        <path d="M124.968 412.315h60.862v60.861H124.968z" />
        <path d="M219.798 412.312h60.862v60.863H219.798z" />
        <path d="M314.320 412.315h60.865v60.861H314.320z" />
        <path d="M408.843 412.315h60.865v60.861H408.843z" />
      </g>
    </svg>
  )
}
