---
import type { Icon } from "../../types/icon";

const {
  size = 24,
  lightColor = "#000000",
  darkColor = "#ffffff",
  className = "",
  href,
  target = "_blank",
  isDark = false,
} = Astro.props as Icon;
---

{
  href ? (
    <a href={href} target={target} rel="noopener noreferrer">
      <svg
        width={size}
        height={size}
        viewBox="0 0 300 300"
        xmlns="http://www.w3.org/2000/svg"
        class={className}
        fill={isDark ? darkColor : lightColor}
        preserveAspectRatio="xMidYMid meet"
      >
        <g transform="translate(0,300) scale(0.1,-0.1)" stroke="none">
          <path
            d="M1247 2939 c-856 -150 -1395 -1007 -1161 -1844 74 -262 202 -475 401
        -665 206 -198 461 -329 748 -386 135 -27 415 -25 552 4 297 64 558 207 764
        419 116 119 183 214 259 368 112 227 154 404 154 655 0 304 -80 568 -250 826
        -123 187 -351 386 -564 494 -263 132 -607 182 -903 129z m114 -894 c124 -165
        231 -300 237 -300 7 0 137 135 290 300 l278 300 78 3 c51 2 77 -1 74 -8 -1 -5
        -145 -163 -318 -351 -173 -187 -316 -347 -318 -354 -2 -10 606 -838 720 -982
        8 -10 -46 -13 -264 -13 l-273 0 -244 325 c-133 179 -246 327 -251 330 -4 3
        -145 -143 -312 -325 l-303 -329 -83 -1 -84 0 44 48 c23 27 181 197 350 380
        170 182 308 333 308 336 0 4 -155 213 -345 466 -190 253 -345 464 -345 470 0
        7 89 9 268 8 l267 -3 226 -300z"
          />
          <path
            d="M840 2221 c0 -6 210 -291 466 -633 257 -343 501 -669 543 -725 l76
        -102 123 0 123 -1 -31 43 c-17 23 -264 353 -548 732 l-517 690 -117 3 c-74 2
        -118 -1 -118 -7z"
          />
        </g>
      </svg>
    </a>
  ) : (
    <svg
      width={size}
      height={size}
      viewBox="0 0 300 300"
      xmlns="http://www.w3.org/2000/svg"
      class={className}
      fill={isDark ? darkColor : lightColor}
      preserveAspectRatio="xMidYMid meet"
    >
      <g transform="translate(0,300) scale(0.1,-0.1)" stroke="none">
        <path
          d="M1247 2939 c-856 -150 -1395 -1007 -1161 -1844 74 -262 202 -475 401
      -665 206 -198 461 -329 748 -386 135 -27 415 -25 552 4 297 64 558 207 764
      419 116 119 183 214 259 368 112 227 154 404 154 655 0 304 -80 568 -250 826
      -123 187 -351 386 -564 494 -263 132 -607 182 -903 129z m114 -894 c124 -165
      231 -300 237 -300 7 0 137 135 290 300 l278 300 78 3 c51 2 77 -1 74 -8 -1 -5
      -145 -163 -318 -351 -173 -187 -316 -347 -318 -354 -2 -10 606 -838 720 -982
      8 -10 -46 -13 -264 -13 l-273 0 -244 325 c-133 179 -246 327 -251 330 -4 3
      -145 -143 -312 -325 l-303 -329 -83 -1 -84 0 44 48 c23 27 181 197 350 380
      170 182 308 333 308 336 0 4 -155 213 -345 466 -190 253 -345 464 -345 470 0
      7 89 9 268 8 l267 -3 226 -300z"
        />
        <path
          d="M840 2221 c0 -6 210 -291 466 -633 257 -343 501 -669 543 -725 l76
      -102 123 0 123 -1 -31 43 c-17 23 -264 353 -548 732 l-517 690 -117 3 c-74 2
      -118 -1 -118 -7z"
        />
      </g>
    </svg>
  )
}
